
div#login {
  border: 0;
  padding: 0;
  margin: 0;
  height: 100%;
	
  background: #13343b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

div#login form {
  background: white;
  width: 40%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  position: relative;
  color: #333;
  border-radius: 10px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  div#login form {
  	width: 80%;
  }
}
div#login form header {
  background: #FF3838;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
div#login form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
div#login form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}
div#login form input {
  display: block;
  width: 78%;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 1em;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ccc;
}
div#login form .help {
  margin-left: 20px;
  font-size: 0.8em;
  color: #777;
}
div#login form input[type=submit] {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: inherit;
  color: white;
  background: #FF3838;
  outline: none;
  border: none;
  padding: 5px 15px;
  font-size: 1.3em;
  font-weight: 400;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  width: initial;
}
div#login form button:hover {
  background: #ff5252;
}
