h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 23px;
}
p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 23px;
}




.main-content-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
/*  height: 500px;*/
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

.subhead-1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.nav-link span.icon {
	text-align: center;
	display: block;
}

.svg-icon {
	stroke:white;
	fill: #13343b
}
.svg-icon.filled {
	fill: white;
}



#dateHandler {
	cursor: pointer;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.footer-top-wrap {
  display: block;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid hsla(0, 0%, 100%, .47);
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.footer-bottom-wrap {
  	width: 80%;
	min-width: 900px;
}
@media ( max-width : 712px) {
	.footer-bottom-wrap {
		width: calc(100% - 80px);
		min-width: 0;
	}
}

.legal {
  color: #777;
  font-size: 12px;
}

.image {
  display: inline;
  height: 100%;
  float: left;
}

.image-2 {
  display: inline;
  height: 100%;
  float: right;
}

/* .body {
  background-color: #13343b;
}
 */
table#detailsTable {
	padding-top: 30px;
	width: 100%;
}
table#detailsTable.dataTable tbody tr {
	background-color: inherit;
	padding-top: 30px;
}
table#detailsTable.dataTable th {
	font-size: 12pt;
}
table#detailsTable.dataTable td {
	padding-right: 5px;
}



.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 9px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bold-text {
  font-weight: 400;
}


#dashboard {
	width: 60%;
	min-width: 900px;
}
.w-col-dashboard {
	margin:5px;
	background-color: rgb(150,190,186);
	padding: 15px;
}
.w-col-dashboard + .w-col-dashboard {
	margin-top: 30px;	
}

.w-col-dashboard h1 {
	text-align: left;
}
.w-col-dashboard h1 span.right {
	float: right;
	color: rgb(88,89,91);
	font-size: 0.9em;
}
.w-col-dashboard h1.main {
	text-align: center;
	font-size: 30px;
}
#dashboard div.row {
	border-top: 1px rgb(88,89,91) solid;
}
#dashboard div.row div.row-date, #dashboard div.row div.row-amount, #dashboard div.row div.row-percent {
	display: inline-block;
	width: 30%;
	text-align: right;
}
#dashboard div.row div.row-date {
	text-align: left;
}
div.row-positive div.row-amount, div.row-positive div.row-percent {
	color: green;
}
div.row-negative div.row-amount, div.row-negative div.row-percent {
	color: red;
}

.theme-color-1 {
	background-color: rgb(19,52,59);
}
.theme-color-2 {
	background-color: rgb(150,190,186);
}
.theme-color-3 {
	background-color: rgb(124,179,172);
}
.theme-color-4 {
	background-color: rgb(88,89,91);
}
.theme-color-5 {
	background-color: rgb(182,190,192);
}

  #detailsTable {
  	font-size: 0.8em;
  }
html, body, #wrapper, #root, .App, .ContentOuter {
	height: 100% !important;
}
.ContentWrap {
	min-height:100%;
	height: auto !important; // the magic!
	height:100%;
	margin-bottom:-100px; // the height of our footer + margin
	
}
.FooterPush {
	clear:both;
	height:100px; // the height of our footer + margin
}
.Footer {
	margin-top: 20px;
	height: 100px;
}
@media (max-width: 991px) {
	#dashboard {
		width: 100%;
		min-width: 100%;
	}
  .main-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image {
    display: inline;
    height: 100%;
  }
  .image-2 {
    display: inline;
    height: 100%;
  }
  #detailsTable {
  	font-size: 0.8em;
  }
}

@media (max-width: 767px) {
  .bar {
  	top: -15px;
  }
  #detailsTable {
  	font-size: 0.7em;
  }
	
	table#detailsTable.dataTable th {
		font-size: 9pt;
	}
	.range-labels li {
	  width: 70px;
	}
  .main-content-section {
    height: auto;
  }
  .hero-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .main-content {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    text-align: center;
  }
  .container {
    display: inline-block;
    width: 90%;
    background-color: transparent;
  }
  .div-block-2 {
    display: inline-block;
    width: 100%;
  }

    
}

@media (max-width: 479px) {
  
  .heading-1 {
    font-size: 35px;
  }
  .footer-top-wrap {
    padding-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block {
    font-size: 12px;
  }
  .container {
    position: relative;
    display: inline-block;
    width: 90%;
    float: none;
    clear: none;
    text-align: center;
  }
  .div-block-2 {
    display: inline-block;
    width: 100%;
  }
  .bold-text {
    font-size: 15px;
  }
}
