.Funds {
	margin-left: 20px;
	margin-right: 20px;
}
.Fund {
	font-size: 14px;
}
.FundName {
}
.FundValue {
	text-align: right;
	font-size: 16px;
	float: right;
}
.FundBuy, .FundSell {
	display: inline-block;
	float: left;
	margin-right: 8px;
}
.FundBuy i, .FundSell i {
	margin-right: 3px;
}
.FundSell div {
	display: inline-block;
}
.FundSell div i {
	margin-left: 5px;
}
i.fa-play {
	margin-bottom: 2px;
	margin-left: 5px;
} 
.FundPercentage {
	width: 50%;
}
.Fund .bar {
	float: left;
	margin-right: 4px;
	top: 12px;
}