.Transactions {
	margin-left: 20px;
	margin-right: 20px;
	color: #385e9d;
}
.Transaction {
	font-size: 14px;
	border-bottom: solid white 1px;
}
.Transaction i {
	margin-right: 3px;
}
.TransactionDate {
	font-weight: 600;
	float: left;
}
.TransactionAmount {
	font-weight: 600;
	float: right;
}
.TransactionAccount {
	clear: both;
	text-align: left;
}
.TransactionType, .TransactionStatus, .TransactionUnitCost {
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.Transaction::after {
	clear: both;
	content: "";
	display: table;
}
.WithDocument {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAPCAYAAADUFP50AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gIVCAsYdNT0wQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAABJklEQVQoz5XSvUoDQRSG4feczUYlKAYsvAR/7kBiq5VIUngDgqWN3oNVwNJbsFEU8acUKxUtU2ghJIXGBM0GhLDZnbGRhNm4Jn7dzDnPMIcZ2Srv2Uqtym+J4pjNlVVqjQa7xRKdbrdX09fPD9KiqmQ8j8vHB/ZPTxj3/X5NEIZFRbhK4AwjRn4wwPba+hBoLdO5HBuFZVQVgG4UUalV/4aiSvn4CBF3IM/zXCgiLM3NExvjHFBvtXipv/XWxhgXGmNotgNiYx341emgIhjb3x+4ar0VYHFhJwwTOwk45vsUFhaJTew0Ndtt7p+f0mEYRRzeXJN8WhVlIptNhyrKTrFEGEVO03sQcHZ3mw6NNRxcnI/0IdQOjD08FovO5vP/QiLCzOQU37sBbVrMVIiZAAAAAElFTkSuQmCC);
	background-position: center right 10px;
	background-repeat: no-repeat;
}