.DatesOuter {
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 0px;
	margin-bottom: -350px;
	/* This sets a 1s delay when _returning_ to base state */
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.DatesOuter.Showing {
	height: 350px;
	/* This sets a 0s delay when moving _to_ showing state */
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.Dates {
	background-color: rgb(234, 234, 229, .9);
	padding: 10px;
	z-index: 1300;
	position: relative;
	width: 100%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: -350px;
	-webkit-transition: margin-top 500ms ease-in-out;
	transition: margin-top 500ms ease-in-out;
}
.DatesOuter.Showing .Dates {
	margin-top: 0px;
}
.DatesContainer {
	width: 700px;
	margin: -15px auto;
	position: relative;
}
.DatesCalendar {
	position: relative;
	width: 350px;
	float: right;
}
.DatesQuickPick {

}
.calendar-outer {
	position: relative;
	width: 350px;
	float: right;
	height: 250px;
}

.Dates ul {
	margin: 0 20px;
	padding: 0;
	width: 300px;
}
.Dates ul li {
	margin: 0 auto;
	font-size: 16px;
	padding: 2px 0;
	list-style: none;
	padding-left: 5px;
	border: solid #3c7069 1px;
	background-color: #3c7069;
	color: rgb(234, 234, 229);
	border-radius: 3px;
	margin-bottom: 2px;
	text-align: center;
	text-transform: uppercase;
}
.Dates ul li:hover {
	background-color: #13343b;
}
.Dates h1 {
	color: rgb(19, 52, 59);
	font-size: 18px;
	text-transform: uppercase;
	clear: none;
	margin-top: 0px;
	padding-top: 10px;
}


.range-labels {
  margin: 50px 0px;
  padding: 0;
  list-style: none;
}
.range-labels li {
  color: #58595b;
   cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.range-labels .active {
  color: #37adbf;
}
.range-labels .selected::before {
  background: #37adbf;
}

/* Calendar restyling */
/* 
	Background: rgb(234, 234, 229) 
	Hover: rgb(250, 250, 244)
*/
/*
	Turquoise: #3c7069
	Blue: #13343b
*/
.react-calendar {
	z-index: 1400;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(234, 234, 229) !important;
}

.react-calendar button {
	color: #3c7069;
}
.react-calendar button:disabled {
	background-color: rgb(234, 234, 229) !important;
	color: #555555;
}

.react-calendar button.react-calendar__month-view__days__day--weekend:not([disabled]), .react-calendar__month-view__weekdays__weekday:not([disabled]) {
	color: #13343b;
}
.react-calendar button:hover {
	background-color: rgb(250, 250, 244) !important;
}
button.react-calendar__tile--active:active, button.react-calendar__tile--active:not([disabled]), button.react-calendar__tile--hasActive:not([disabled]) {
	background-color: rgb(250, 250, 244);
}
.react-calendar__tile--active {
	background-color: rgb(250, 250, 244) !important;
}
button.react-calendar__tile--active:not([disabled]):hover, button.react-calendar__tile--hover:not([disabled]), button.react-calendar__tile--hasActive:not([disabled]):hover {
	background-color: rgb(234, 234, 229) !important;
}
button.react-calendar__navigation__label {
	background-color: rgb(250, 250, 244) !important;
}