.DatesOuter {
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 0px;
	margin-bottom: -350px;
	/* This sets a 1s delay when _returning_ to base state */
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
}
.DatesOuter.Showing {
	height: 350px;
	/* This sets a 0s delay when moving _to_ showing state */
	transition-delay: 0s;
	-webkit-transition-delay: 0s;
}
.Dates {
	padding: 10px;
	z-index: 2300;
	position: relative;
	width: 100%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	margin-top: -350px;
	-webkit-transition: margin-top 500ms ease-in-out;
	transition: margin-top 500ms ease-in-out;
}
.DatesOuter.Showing .Dates {
	margin-top: 0px;
}
.DatesContainer {
	width: 700px;
	margin: -15px auto;
	position: relative;
}
.DatesCalendar {
	position: relative;
	width: 350px;
	float: right;
}
.DatesQuickPick {
	float: left;
}
.calendar-outer {
	position: relative;
	width: 350px;
	float: right;
	height: 250px;
}

.Dates ul {
	margin: 0 20px;
	padding: 0;
	width: 300px;
}
.Dates ul li {
	margin: 0 auto;
	font-size: 16px;
	padding: 2px 0;
	list-style: none;
	padding-left: 5px;
	border-radius: 3px;
	margin-bottom: 2px;
	text-align: center;
	text-transform: uppercase;
}
.Dates h1 {
	font-size: 18px;
	text-transform: uppercase;
	clear: none;
	margin-top: 0px;
	padding-top: 10px;
}


.range-labels {
  margin: 50px 0px;
  padding: 0;
  list-style: none;
}
.range-labels li {
  color: #58595b;
  cursor: pointer;
}
.range-labels li::before {
  position: absolute;
  top: -25px;
  right: 0;
  left: 0;
  content: "";
  margin: 0 auto;
  width: 9px;
  height: 9px;
  background: #b2b2b2;
  border-radius: 50%;
}
.range-labels .active {
  color: #37adbf;
}
.range-labels .selected::before {
  background: #37adbf;
}
.DatesClose {
	float: right;
	font-size: 20px;
	cursor: pointer;
}
@media ( max-width : 712px) {
	.DatesOuter {
		position: relative;
		overflow:hidden;
		width: 100%;
		height: 0px;
		margin-bottom: -720px;
		/* This sets a 1s delay when _returning_ to base state */
		transition-delay: 1s;
		-webkit-transition-delay: 1s;
	}
	.DatesOuter.Showing {
		height: 720px;
		/* This sets a 0s delay when moving _to_ showing state */
		transition-delay: 0s;
		-webkit-transition-delay: 0s;
	}
	.Dates {
		padding: 10px;
		z-index: 2300;
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 720px;
		margin-left: auto;
		margin-right: auto;
		text-align: left;
		margin-top: -720px;
		-webkit-transition: margin-top 500ms ease-in-out;
		transition: margin-top 500ms ease-in-out;
	}
	.DatesOuter.Showing .Dates {
		margin-top: 0px;
	}
	.DatesClose {
		margin-right: 10px;
		margin-top: 10px;
	}
	.DatesContainer {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		position: relative;
		z-index: 2400;
	}
	.DatesCalendar {
		position: relative;
		margin: 0 auto;
		width: 100%;
		float: none;
		height: 320px;
	}
	.DatesQuickPick {
		float: left;
		padding-bottom: 50px;
	}
	.Dates ul {
		margin: 0;
		padding: 0;
		width: 100%;
	}
	.Dates ul li {
		margin: 0 auto;
		width: 100%;
		font-size: 16px;
		padding: 5px 0;
		list-style: none;
		padding-left: 5px;
		border-left: none;
		border-right: none;
		border-radius: 0px;
		margin-bottom: 2px;
		text-align: center;
		text-transform: uppercase;
	}
	.Dates h1 {
		text-align: center;
		font-size: 18px;
		text-transform: uppercase;
		clear: none;
		margin-top: 0px;
		padding-top: 10px;
	}
	
	
	.DatesQuickPick {
		float: none;
		padding-bottom: 0px;
	}	
	.CalendarOuter {
		float: none;
	}
	.calendar-outer {
		width: 350px;
		margin: 0 auto;
		float: none;
	}
}
