
.ModalOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(56, 94, 157);/* rgb(124,179,172); */
    z-index: 1999;
}
.ModalOverlay.AllowNavigation {
	top: 105px;
	height: calc(100%-105px);
}
.Modal {
	position: fixed;
	border-radius: 10px;
	border: solid #182944 1px;
	padding: 30px;
	background-color: #bae1df;
	margin: auto;
}

.Modal.Centered {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
}

.Modal.Full {
	top: 70px;
	left: 100px;
	right: 100px;
	bottom: 70px;
}
.ModalOverlay.ModalHidden, .Modal.ModalHidden {
	display: none;
}