/*

	Turquoise: #3c7069
	Blue: #13343b

*/
.navsvg {
	width: 30px;
	height: 30px;
}

.nav-link {
	width: 130px;
	text-align: center;
	display: inline-block;
	margin-top: 3px;
	padding-top: 20px;
	padding-bottom: 10px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 auto;
	-ms-flex: 0 auto;
	flex: 0 auto;
	-webkit-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	color: #76777A;
	cursor: pointer;
}

.nav-link span.icon {
	text-align: center;
	display: block;
}

.svg-icon {
	stroke: #3c7069;
	fill: #EAEAE5;
}

.svg-icon.filled {
	fill: #3c7069;
}

.nav-link:hover .svg-icon, .nav-link.active .svg-icon {
	stroke: #13343b;
}

.nav-link:hover .svg-icon.filled, .nav-link.active .svg-icon.filled {
	fill: #13343b;
}

.svg-mask {
	stroke: #EAEAE5;
	fill: #EAEAE5;
}

.nav-link:hover, .nav-link.active {
	border-bottom: 3px solid #13343b;
	color: #13343b;
}

.nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 120px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-bottom: 1px none hsla(0, 0%, 100%, .53);
	background-color: transparent;
}

.nav-container {
	width: 80%;
	height: 100%;
	max-width: none;
	margin-right: 0px;
	margin-left: 0px;
}

.nav-menu {
	display: inline-block;
	width: 100%;
	margin-top: 0px;
	padding-top: 0px;
	float: none;
	border-bottom: 1px solid hsla(0, 0%, 100%, .38);
}

.nav img {
	float: left;
}

div.nav-links {
	margin: 0 auto;
	width: 660px;
}

a.w-nav-link {
	padding-left: 18px;
	padding-right: 18px;
}

#MobileNav {
	display: none;
}

@media ( max-width : 991px) {
	.nav-link {
		height: 122%;
		margin-left: 0px;
		padding-right: 10px;
		padding-left: 10px;
		font-size: 11px;
	}
}

@media ( max-width : 860px) {
	.navbar {
		display: inline-block;
		width: 100%;
		background-color: rgba(0, 0, 0, .19);
		text-align: center;
	}
	.nav-link {
		display: inline-block;
		height: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 20px;
		float: none;
		font-size: 12px;
	}
	.nav-container{
		width: 100%;
	}
}

@media ( max-width : 712px) {
	div.nav-links {
		padding: 0;
		width: 100%;
		margin: 0 5px;
	}
	.nav {
		display: none;
		height: inherit;
	}
	.nav-logo {
		display: none;
	}
	.nav.Showing {
		display: block;
	}
	.nav-link {
		display: block;
		text-align: left;
		width: 100%;
		height: 50px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 11px 8px;
		font-size: 16px;
		float: none;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
	.navbar {
		display: inline-block;
		width: 100%;
		text-align: center;
	}
	.nav-container {
		width: 100%;
		height: inherit;
	}
	#MobileNav {
		display: block;
		width: 100%;
		font-size: 20px;
	}
	#MobileNav::after {
		content: "";
		clear: both;
		display: table;
	}
	#MobileNav i {
		margin: 10px 20px 4px 0;
		cursor: pointer;
		float: right;
	}
	#MobileNav img {
		margin-top: 10px;
	}
	.nav-link span.icon {
		text-align: left;
		float: left;
		margin-right: 16px;
	}
	.main-content-section {
		margin-top: 0px;
	}
	.main-content {
		padding: 10px 0;
	}
}