.PortfolioTabsOuter {
	width: 80%;
	min-width: 900px;
	
}
.PortfolioTabsContainer {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}
.PortfolioTabsContainer.NoScroll {
	overflow-x: hidden;
}
ul.PortfolioTabs {
	border-top: solid 1px #385e9d;
	margin: 10px 0 0;
	padding: 0;
	min-width: 100%;
	white-space: nowrap;
	position: relative;
}
ul.PortfolioTabs li {
	float: left;
	display: inline-block;
	border: solid 1px rgba(255,255,255,0);
	border-top: none;
	top: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
	white-space: nowrap;
	z-index: 1301;
}
ul.PortfolioTabs li.Selected {
	border-color: #385e9d;
	border-radius: 0 0 5px 5px;
	background-color: rgb(255, 255, 255);
}
ul.PortfolioTabs::after {
	content: "";
	clear: both;
	display: table;
}
@media ( max-width : 712px) {
	.PortfolioTabsOuter {
		width: calc(100% - 80px);
		min-width: 0;
		margin: 0 40px 20px 20px;
		z-index: 1000;
		position: relative;
	}
	ul.PortfolioTabs {
		z-index: 1000;
		position: relative;
	}
}