.AllocationGraph {
}
.AllocationGraph>div {
	width: 400px;
	margin: 0 auto;
	padding-bottom: 10px;
}
.AllocationGraph h1 {
	text-transform: uppercase;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.AllocationGraph .dashboard-table {
	width: 300px;
	margin: 0 auto;
}

.AllocationGraph .dashboard-table div:first-child {
	width: 150px;
}
.AllocationGraph .dashboard-table div:nth-child(2) {
	width: 150px;
	text-align: right;
}
