.body {
	background-color: #f9f9f9;
	color: #204a90;
}
.padding10l {
	padding-left:10px;
}
.width100 {
	width: 100%;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
#loading span, #loading i {
	position: absolute;
  	top: 50%;
  	left: 50%;
 	margin-top: -25px;
  	margin-left: -25px;
	color: #fff;
}

#loading {
    position: fixed;
    width: 100%;
	height: 100%;
	top: 0;
    left: 0;
    background-color: rgba(36, 78, 147, 0.66);
    color: #3e6ab4;
    z-index: 5999;
	display: block;
}

@media ( max-width : 712px) {
	#loading {
	    top: 0;
	 	height: 100%;
	}
}

/*

HWP Colours
	White: white
	Pale/Faded Turquoise: #86a6a2
	Normal/Turquoise: #3c7069
	Dark/Blue: #13343b
	Background: rgb(234, 234, 229)

Chelmer Colours
	White: #eeeeee;
	Pale: #bae1df
	//Normal: #64ccc9
	Normal: #385e9d rgb(56, 94, 157
	Dark: #182944
	Background: rgb(238, 238, 238) rgb(199, 224, 223

Global definitions to allow easy restyling:
	*/
.foreground-lightest, .fg-l {
	color: #eeeeee;
}
.foreground-pale, .fg-p {
	color: #bae1df;
}
.foreground-normal, .fg-n {
	color: #385e9d;
}
.foreground-dark, .fg-d {
	color: #182944;
}
.background, .bg {
	background-color: rgb(238, 238, 238);
}
.overlay, .ol {
	background-color: rgba(238, 238, 238, 0.9);
}
.background-lightest, .bg-l {
	background-color: #eeeeee;
}
.background-pale, .bg-p {
	background-color: #bae1df;
}
.background-normal, .bg-n {
	background-color: #385e9d;
}
.background-dark, .bg-d {
	background-color: #182944;
}
.hover-background-lightest:hover, .h-bg-l:hover {
	background-color: #eeeeee;
}
.hover-background-pale:hover, .h-bg-p:hover {
	background-color: #bae1df;
}
.hover-background-normal:hover, .h-bg-n:hover {
	background-color: #385e9d;
}
.hover-background-dark:hover, .h-bg-d:hover {
	background-color: #284e8d;
}
.fill-lightest, .fl-l {
	fill: #eeeeee;
}
.fill-pale, .fl-p {
	fill: #bae1df;
}
.fill-normal, .fl-n {
	fill: #385e9d;
}
.fill-dark, .fl-d {
	fill: #182944;
}
