.DocumentsTable {
	width: 60%;
	min-width: 500px;
}
.Document {
	cursor: pointer;
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding-top: 10px;
}
.Document:hover {
}
.DocumentIcon {
}
.DocumentIconWrapper {
	float: left;
}
.DocumentIconCircle {
	stroke-width: 0px
}
.DocumentDownload i {
	font-size: 20px;
	margin-right: 10px;
}
.DocumentName {
	font-weight: 600;
	font-size: 19px;
}
.Document i {
	padding-right: 5px;
}
.DocumentDate, .DocumentCompany, .DocumentType {
	display: inline-block;
}
.DocumentCompany, .DocumentType {
	padding-left: 10px;
}
.DocumentDownload {
	float: right
}

@media ( max-width : 712px) {
	.DocumentsTable {
		width: 90%;
		min-width: 0;
		text-align: left;
	}
	.Document {
		cursor: pointer;
		padding-bottom: 20px;
		margin-bottom: 10px;
		border-top: none;
		padding-top: 0px;
	}
	.DocumentDownload {
		margin-top: -30px;
	}
	.DocumentDownload i {
	}
	
	.DocumentIconWrapper {
		width: 100%;
		float: none;
		border-radius: 2px;
		height: 40px;
	}
	.DocumentIconCircle {
		stroke-width: 1px
	}
	.DocumentDate {
		padding-left: 10px;
	}
	.DocumentDate, .DocumentCompany, .DocumentType {
		display: block;
	}
}